<%- include('partials/header.ejs') %>
    <center><img src="images/profile.jpeg" alt="Kalash Gajjar picture" id="profimg"></center>
    <br>
    <br>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">Kalash Tejendra Gajjar</h2></center>
    <center><h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">Artificial Intelligence | C# | Python | Java | ReactJS | Node.js | Three.js</h3></center>

    <p class="stmt">
        Welcome to my portfolio! I am a dedicated student currently pursuing a degree in Software Engineering Technology with a specialization in Artificial Intelligence at Centennial College. My passion for technology has driven me to explore various programming languages and frameworks, enabling me to develop versatile skills in the field.        <br>
        <br>
        Proficient in languages such as React, JavaScript, Python, Java, and C#, I am well-versed in crafting dynamic and responsive web applications. My expertise extends to the realm of 3D graphics with Three.js, showcasing my commitment to staying at the forefront of innovative technologies.        
        <br>
        <br>
        Throughout my academic journey, I have not only gained a strong theoretical foundation but also practical experience through hands-on projects. This portfolio serves as a testament to my dedication, showcasing a collection of projects that highlight my ability to apply theoretical knowledge to real-world scenarios.        
        <br>
        <br>
        As I continue to learn and grow in the ever-evolving landscape of technology, I am excited to contribute my skills and knowledge to meaningful projects. Explore my portfolio to discover the depth of my technical proficiency and the creativity I bring to every endeavor. Thank you for visiting!        
        <br> 
    </p>
    <br>
    <a href="KalashTejendraGajjar_Resume.pdf" target="_blank" class="pdf-button">Kalash Gajjar - Curriculum Vitae</a>
<%- include('partials/footer.ejs') %>
