<%- include('partials/header.ejs') %>
    <section class="animated-section">
        <h1 class="reveal-title">Welcome to Kalash Gajjar's Portfolio Website</h1>
    </section>
    <hr style="border-style:solid; border-color:#414042; border-width:2px;" />
    <br>
    <div id='mission-stmt'>
        <h1 style="color: lightgoldenrodyellow;">Introduction</h1>
        <br>
        <p class="stmt">
            Hi, I'm Kalash.
            <br>
            <br>
            Hello and welcome to my portfolio! I'm a Software Engineering Technology - Artificial Intelligence student at Centennial College. Proficient in React, JavaScript, Python, Java, C#, and Three.js, I specialize in crafting dynamic web applications and exploring the world of 3D graphics. Dive into my projects to witness the fusion of theoretical knowledge and practical application. Thank you for stopping by!
            <br>
            <br>
        </p>
    </div>
    <div id="button">
        <center>
            <a href="/about" style="text-decoration: none; color: black;">
            About me
            </a>
        </center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<%- include('partials/footer.ejs') %>
