<%- include('partials/header.ejs') %>
    <section class="animated-section">
        <h1 class="reveal-title">Welcome to Kalash Gajjar's Portfolio Website</h1>
    </section>
    <hr style="border-style:solid; border-color:#414042; border-width:2px;" />
    <br>
    <div id='mission-stmt'>
        <h1 style="color: lightgoldenrodyellow;">Introduction</h1>
        <br>
        <p class="stmt">
            Hi, I'm Kalash.
            <br>
            I am a student at Centennial College learning Artificial Intelligence.
        </p>
    </div>
    <div id="button">
        <center>
            <a href="/about" style="text-decoration: none; color: black;">
            Learn more about Kalash Gajjar
            </a>
        </center>
    </div>
    <br>
    <br>
    <br>
    <br>
<%- include('partials/footer.ejs') %>
