<%- include('partials/header.ejs') %>
<section class="projects">
    <h2>Projects</h2>
    
    <!-- Project 1 -->
    <div class="project">
        <img src="images/calculator.png" alt="Calculator - GUI C#" class="projectsimg">
        <h3>Calculator - GUI C#</h3>
        <p>A basic C# GUI Calculator application which can seamlessly convert into Scientific mode with help of radio button as per design. This was very first GUI project using C#.</p>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 2 -->
    <div class="project">
        <img src="images/bug.png" alt="Bug Smasher Game" class="projectsimg">
        <h3>Bug Smasher Game - HTML, CSS, JS</h3>
        <p>A basic bug smasher game was made using HTML, CSS and JS. It is just a basic web game anyone can enjoy playing it.</p>
        <a href="https://rose-wandie-57.tiiny.site/" class="btn" target="_blank">Learn More</a>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 3 -->
    <div class="project">
        <h3>QuickCravers - Online Food Ordering System</h3>
        <h5>Scrum Project</h5>
        <p>Using Agile Scrum methodolgy created an online food ordering application User Interfaces</p>
    </div>

    <!-- Project 4 -->
    <div class="project">
        <h3>Oasis - A Luxury Resort</h3>
        <h5>React JSX Project</h5>
        <p>Using ReactJS we have created a resort room reservation full stack website</p>
        <a href="https://oasis-6wg4.onrender.com" class="btn" target="_blank">Learn More</a>
        <p><b>Note: </b>While using the live server for this project, you might see errors while signing in, signing out or looking for my bookings as we have not connected to database for live server. You can refer my github for the actual code. Thanks</p>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>
