<%- include('partials/header.ejs') %>
<section class="projects">
    <h2>Projects</h2>
    
    <!-- Project 1 -->
    <div class="project">
        <img src="images/calculator.png" alt="Calculator - GUI C#" class="projectsimg">
        <h3>Calculator - GUI C#</h3>
        <p>A basic C# GUI Calculator application which can seamlessly convert into Scientific mode with help of radio button as per design. This was very first GUI project using C#.</p>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 2 -->
    <div class="project">
        <img src="images/bug.png" alt="Bug Smasher Game" class="projectsimg">
        <h3>Bug Smasher Game - HTML, CSS, JS</h3>
        <p>A basic bug smasher game was made using HTML, CSS and JS. It is just a basic web game anyone can enjoy playing it.</p>
        <a href="https://rose-wandie-57.tiiny.site/" class="btn" target="_blank">Learn More</a>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 3 -->
    <div class="project">
        <h3>QuickCravers - Online Food Ordering System</h3>
        <h5>Scrum Project</h5>
        <p>Using Agile Scrum methodolgy created an online food ordering application User Interfaces</p>
    </div>

    <!-- Project 4 -->
    <div class="project">
        <h3>Oasis - A Luxury Resort</h3>
        <h5>React JSX Project</h5>
        <p>Using ReactJS we have created a resort room reservation full stack website</p>
        <a href="https://github.com/thisiskalashgajjar/Oasis-FinalRelease" class="btn" target="_blank">Learn More</a>
        <br>
    </div>

    <!-- Project 5 -->
    <div class="project">
        <h3>Student Registration System - GUI</h3>
        <h5>Java Project</h5>
        <p>Created a basic GUI application to register the student into the courses using JavaFX and JDBC for database.</p>
    </div>

    <!-- Project 6 -->
    <div class="project">
        <h3>Spam Detection Using NLP</h3>
        <h5>Natural Language Processing (NLP) Project</h5>
        <p>The project leverages NLP techniques, which involve the use of computational methods to understand and analyze human language, to create a robust and accurate spam detection mechanism.</p>
        <a href="https://github.com/thisiskalashgajjar/Spam-Comments-Detection-NLP" class="btn" target="_blank">Learn More</a>
    </div>

</section>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>
